.container {
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    color: #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .country {
    margin-right: 1rem;
}

.emoji {
    width: 100px;
    height: 100px;
}

.content h2 {
    text-align: center;
}

.content p {
    text-align: center;
    margin: 0.5rem 0;
}